# Build artifacts
target/
/lib/
*.jar
*.class

# Leiningen
/classes/
/checkouts/
pom.xml
pom.xml.asc
/.lein-*
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures

# REPL
.nrepl-port
/.nrepl-history

# ClojureScript / Shadow-cljs
/node_modules
.shadow-cljs
figwheel_server.log

# Tooling
.clj-kondo/
!.clj-kondo/config.edn
.cpcache/
.cache

# IDE
/.vscode
/.idea
/.calva

# Environment
/.envrc

# Documentation
/gh-pages
/_book

# Test artifacts
test_output.txt
