{:deps
 {org.clojure/clojure {:mvn/version "1.12.4"}}

 :paths ["src"]

 :aliases
 {:run {:main-opts ["-m" "coder-agent.core"]}

  ;; cljfmt - コードフォーマッター
  :fmt/check
  {:extra-deps {dev.weavejester/cljfmt {:mvn/version "0.15.6"}}
   :main-opts ["-m" "cljfmt.main" "check" "src"]}

  :fmt/fix
  {:extra-deps {dev.weavejester/cljfmt {:mvn/version "0.15.6"}}
   :main-opts ["-m" "cljfmt.main" "fix" "src"]}

  ;; clj-kondo - 静的解析
  :lint
  {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2024.11.14"}}
   :main-opts ["-m" "clj-kondo.main" "--lint" "src"]}}}
